---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

// code 폰트 사이즈 설정
// code {
//     font-size: 14px
// }

// main 페이지 사이즈 설정
.page {
	padding-right: 0px !important;
} 

// content font-size 조정 default(1.0em)
.page__content p, .page__content li {
	font-size: 0.8em;
}

// body {
// 	font-family: 'Noto Sans KR', serif;
// }

.about-image {
	width  : 120px;
	height : 100px !important;
}