---
import Layout from '@/layouts/Layout.astro';
import homeHeroImage from '@/pages/images/home_hero.png';
import { Image } from 'astro:assets';
---

<Layout>
  <div class="hero pt-10">
    <div class="hero-content flex-col p-0">
      <Image class="w-full max-w-sm rounded-lg shadow-2xl" src={homeHeroImage} alt="이미지" />
      <div>
        <h1 class="text-4xl font-bold sm:text-5xl">생산성을 좋아하는 개발자</h1>
        <p class="py-6">풀스택 개발자를 목표로 나아가고 있는 개발자입니다.</p>
        <a href="/posts" class="btn btn-primary">Go Blog</a>
        <a href="/portfolio" class="btn btn-primary">Go Portfolio</a>
      </div>
    </div>
  </div>
</Layout>
