---

---

<header class="sticky top-0 z-10">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="text-xl font-bold sm:text-2xl">🚀 시빠 개발자</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a class="sm:text-lg" href="/posts">Blog</a></li>
        <li><a class="sm:text-lg" href="/portfolio" data-astro-reload>Portfolio</a></li>
      </ul>
    </div>
  </div>
</header>
