---
import defaultBlogImage from '@/pages/images/default_blog_image.jpg';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  image?: string;
  url: string;
}

const { title, image, url } = Astro.props;
---

<div class="card w-full bg-base-100 shadow-xl lg:card-side sm:w-1/2">
  <figure>
    <Image src={image! ?? defaultBlogImage} alt="Album" width="150" height="150" />
  </figure>
  <div class="card-body">
    <a href={url}>
      <h2 class="card-title">{title}</h2>
    </a>
  </div>
</div>
